{
  "status": "success",
  "itemsList": [
    {
      "SONumber": "SO60441",
      "SOInternalID": "7766845",
      "TranDate": "9/3/2019",
      "OrgToID": "141401",
      "OrgToName": "7EAST APARTMENTS",
      "ChannelTypeID": "1",
      "PartnerID": "",
      "ITFFInternalID": "7773093",
      "ITFFNumber": "109321",
      "LineID": "1.00",
      "ItemInternalID": "12317",
      "SNPrefix": "REN",
      "AutoFulfill": "T",
      "ProductType": "19",
      "ItemName": "00-CR0010-00",
      "FixedTerm": "0",
      "UploadProductType": "Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "",
      "OldTokenSN": "",
      "ExpirationDate": "",
      "RemainingQuantity": "1",
      "internalid": "7773093"
    },
    {
      "SONumber": "SO60441",
      "SOInternalID": "7766845",
      "TranDate": "9/3/2019",
      "OrgToID": "141401",
      "OrgToName": "7EAST APARTMENTS",
      "ChannelTypeID": "1",
      "PartnerID": "",
      "ITFFInternalID": "7773093",
      "ITFFNumber": "109321",
      "LineID": "2.00",
      "ItemInternalID": "12317",
      "SNPrefix": "REN",
      "AutoFulfill": "T",
      "ProductType": "19",
      "ItemName": "00-CR0010-00",
      "FixedTerm": "0",
      "UploadProductType": "Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "",
      "OldTokenSN": "",
      "ExpirationDate": "",
      "RemainingQuantity": "1",
      "internalid": "7773093"
    },
    {
      "SONumber": "SO62091",
      "SOInternalID": "8115402",
      "TranDate": "9/30/2019",
      "OrgToID": "4117",
      "OrgToName": "Metro Nashville",
      "ChannelTypeID": "1",
      "PartnerID": "",
      "ITFFInternalID": "8115530",
      "ITFFNumber": "111741",
      "LineID": "9.00",
      "ItemInternalID": "249633",
      "SNPrefix": "RXSJ",
      "AutoFulfill": "T",
      "ProductType": "23",
      "ItemName": "00-400190-00",
      "FixedTerm": "0",
      "UploadProductType": "Assure Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "",
      "OldTokenSN": "",
      "ExpirationDate": "",
      "RemainingQuantity": "1",
      "internalid": "8115530"
    },
    {
      "SONumber": "SO62200",
      "SOInternalID": "8129649",
      "TranDate": "10/2/2019",
      "OrgToID": "7271",
      "OrgToName": "945 West 8th Street Garage",
      "ChannelTypeID": "2",
      "PartnerID": "19770",
      "ITFFInternalID": "8130499",
      "ITFFNumber": "111849",
      "LineID": "5.00",
      "ItemInternalID": "12317",
      "SNPrefix": "REN",
      "AutoFulfill": "T",
      "ProductType": "19",
      "ItemName": "00-CR0010-00",
      "FixedTerm": "0",
      "UploadProductType": "Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "",
      "OldTokenSN": "",
      "ExpirationDate": "",
      "RemainingQuantity": "1",
      "internalid": "8130499"
    },
    {
      "SONumber": "SO62200",
      "SOInternalID": "8129649",
      "TranDate": "10/2/2019",
      "OrgToID": "7271",
      "OrgToName": "945 West 8th Street Garage",
      "ChannelTypeID": "2",
      "PartnerID": "19770",
      "ITFFInternalID": "8130499",
      "ITFFNumber": "111849",
      "LineID": "6.00",
      "ItemInternalID": "12317",
      "SNPrefix": "REN",
      "AutoFulfill": "T",
      "ProductType": "19",
      "ItemName": "00-CR0010-00",
      "FixedTerm": "0",
      "UploadProductType": "Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "",
      "OldTokenSN": "",
      "ExpirationDate": "",
      "RemainingQuantity": "1",
      "internalid": "8130499"
    },
    {
      "SONumber": "SO62443",
      "SOInternalID": "8151057",
      "TranDate": "10/7/2019",
      "OrgToID": "115001",
      "OrgToName": "Owner",
      "ChannelTypeID": "1",
      "PartnerID": "",
      "ITFFInternalID": "8151060",
      "ITFFNumber": "112231",
      "LineID": "2.00",
      "ItemInternalID": "12317",
      "SNPrefix": "REN",
      "AutoFulfill": "T",
      "ProductType": "19",
      "ItemName": "00-CR0010-00",
      "FixedTerm": "0",
      "UploadProductType": "Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "170541001464",
      "OldTokenSN": "",
      "ExpirationDate": "7/20/2020",
      "RemainingQuantity": "2",
      "internalid": "8151060"
    },
    {
      "SONumber": "SO62430",
      "SOInternalID": "8150384",
      "TranDate": "10/7/2019",
      "OrgToID": "2261",
      "OrgToName": "Brian Jessel BMW",
      "ChannelTypeID": "1",
      "PartnerID": "",
      "ITFFInternalID": "8151061",
      "ITFFNumber": "112232",
      "LineID": "2.00",
      "ItemInternalID": "249633",
      "SNPrefix": "RXSJ",
      "AutoFulfill": "T",
      "ProductType": "23",
      "ItemName": "00-400190-00",
      "FixedTerm": "0",
      "UploadProductType": "Assure Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "163641004649",
      "OldTokenSN": "",
      "ExpirationDate": "5/28/2022",
      "RemainingQuantity": "1",
      "internalid": "8151061"
    },
    {
      "SONumber": "SO62745",
      "SOInternalID": "8195734",
      "TranDate": "10/10/2019",
      "OrgToID": "417903",
      "OrgToName": "Sun Tran",
      "ChannelTypeID": "2",
      "PartnerID": "15950",
      "ITFFInternalID": "8198703",
      "ITFFNumber": "112756",
      "LineID": "1.00",
      "ItemInternalID": "12320",
      "SNPrefix": "REN",
      "AutoFulfill": "T",
      "ProductType": "19",
      "ItemName": "00-CR0013-00",
      "FixedTerm": "0",
      "UploadProductType": "Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "",
      "OldTokenSN": "",
      "ExpirationDate": "",
      "RemainingQuantity": "1",
      "internalid": "8198703"
    },
    {
      "SONumber": "SO62777",
      "SOInternalID": "8203654",
      "TranDate": "10/11/2019",
      "OrgToID": "196301",
      "OrgToName": "Caspian",
      "ChannelTypeID": "1",
      "PartnerID": "",
      "ITFFInternalID": "8205139",
      "ITFFNumber": "112807",
      "LineID": "2.00",
      "ItemInternalID": "12317",
      "SNPrefix": "REN",
      "AutoFulfill": "T",
      "ProductType": "19",
      "ItemName": "00-CR0010-00",
      "FixedTerm": "0",
      "UploadProductType": "Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "164741006892",
      "OldTokenSN": "",
      "ExpirationDate": "",
      "RemainingQuantity": "1",
      "internalid": "8205139"
    },
    {
      "SONumber": "SO62777",
      "SOInternalID": "8203654",
      "TranDate": "10/11/2019",
      "OrgToID": "196301",
      "OrgToName": "Caspian",
      "ChannelTypeID": "1",
      "PartnerID": "",
      "ITFFInternalID": "8205139",
      "ITFFNumber": "112807",
      "LineID": "5.00",
      "ItemInternalID": "12317",
      "SNPrefix": "REN",
      "AutoFulfill": "T",
      "ProductType": "19",
      "ItemName": "00-CR0010-00",
      "FixedTerm": "0",
      "UploadProductType": "Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "164741006892",
      "OldTokenSN": "",
      "ExpirationDate": "",
      "RemainingQuantity": "1",
      "internalid": "8205139"
    },
    {
      "SONumber": "SO62777",
      "SOInternalID": "8203654",
      "TranDate": "10/11/2019",
      "OrgToID": "196301",
      "OrgToName": "Caspian",
      "ChannelTypeID": "1",
      "PartnerID": "",
      "ITFFInternalID": "8205139",
      "ITFFNumber": "112807",
      "LineID": "4.00",
      "ItemInternalID": "12317",
      "SNPrefix": "REN",
      "AutoFulfill": "T",
      "ProductType": "19",
      "ItemName": "00-CR0010-00",
      "FixedTerm": "0",
      "UploadProductType": "Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "164941007389",
      "OldTokenSN": "",
      "ExpirationDate": "",
      "RemainingQuantity": "1",
      "internalid": "8205139"
    },
    {
      "SONumber": "SO62777",
      "SOInternalID": "8203654",
      "TranDate": "10/11/2019",
      "OrgToID": "196301",
      "OrgToName": "Caspian",
      "ChannelTypeID": "1",
      "PartnerID": "",
      "ITFFInternalID": "8205139",
      "ITFFNumber": "112807",
      "LineID": "3.00",
      "ItemInternalID": "12317",
      "SNPrefix": "REN",
      "AutoFulfill": "T",
      "ProductType": "19",
      "ItemName": "00-CR0010-00",
      "FixedTerm": "0",
      "UploadProductType": "Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "164941007389",
      "OldTokenSN": "",
      "ExpirationDate": "",
      "RemainingQuantity": "1",
      "internalid": "8205139"
    },
    {
      "SONumber": "SO64771",
      "SOInternalID": "8436312",
      "TranDate": "11/8/2019",
      "OrgToID": "5036",
      "OrgToName": "PepsiCo",
      "ChannelTypeID": "1",
      "PartnerID": "",
      "ITFFInternalID": "8438424",
      "ITFFNumber": "116035",
      "LineID": "1.00",
      "ItemInternalID": "12317",
      "SNPrefix": "REN",
      "AutoFulfill": "T",
      "ProductType": "19",
      "ItemName": "00-CR0010-00",
      "FixedTerm": "0",
      "UploadProductType": "Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "",
      "OldTokenSN": "",
      "ExpirationDate": "",
      "RemainingQuantity": "1",
      "internalid": "8438424"
    },
    {
      "SONumber": "SO65975",
      "SOInternalID": "8550145",
      "TranDate": "11/26/2019",
      "OrgToID": "9559",
      "OrgToName": "BAE Systems",
      "ChannelTypeID": "2",
      "PartnerID": "14303",
      "ITFFInternalID": "8550650",
      "ITFFNumber": "117480",
      "LineID": "2.00",
      "ItemInternalID": "12317",
      "SNPrefix": "REN",
      "AutoFulfill": "T",
      "ProductType": "19",
      "ItemName": "00-CR0010-00",
      "FixedTerm": "0",
      "UploadProductType": "Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "",
      "OldTokenSN": "",
      "ExpirationDate": "",
      "RemainingQuantity": "1",
      "internalid": "8550650"
    },
    {
      "SONumber": "SO65975",
      "SOInternalID": "8550145",
      "TranDate": "11/26/2019",
      "OrgToID": "9559",
      "OrgToName": "BAE Systems",
      "ChannelTypeID": "2",
      "PartnerID": "14303",
      "ITFFInternalID": "8550650",
      "ITFFNumber": "117480",
      "LineID": "1.00",
      "ItemInternalID": "12317",
      "SNPrefix": "REN",
      "AutoFulfill": "T",
      "ProductType": "19",
      "ItemName": "00-CR0010-00",
      "FixedTerm": "0",
      "UploadProductType": "Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "",
      "OldTokenSN": "",
      "ExpirationDate": "",
      "RemainingQuantity": "1",
      "internalid": "8550650"
    },
    {
      "SONumber": "SO65973",
      "SOInternalID": "8549465",
      "TranDate": "11/26/2019",
      "OrgToID": "8284",
      "OrgToName": "Carson City",
      "ChannelTypeID": "2",
      "PartnerID": "8600",
      "ITFFInternalID": "8554577",
      "ITFFNumber": "117632",
      "LineID": "1.00",
      "ItemInternalID": "12317",
      "SNPrefix": "REN",
      "AutoFulfill": "T",
      "ProductType": "19",
      "ItemName": "00-CR0010-00",
      "FixedTerm": "0",
      "UploadProductType": "Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "",
      "OldTokenSN": "",
      "ExpirationDate": "",
      "RemainingQuantity": "1",
      "internalid": "8554577"
    },
    {
      "SONumber": "SO65973",
      "SOInternalID": "8549465",
      "TranDate": "11/26/2019",
      "OrgToID": "8284",
      "OrgToName": "Carson City",
      "ChannelTypeID": "2",
      "PartnerID": "8600",
      "ITFFInternalID": "8554577",
      "ITFFNumber": "117632",
      "LineID": "2.00",
      "ItemInternalID": "12317",
      "SNPrefix": "REN",
      "AutoFulfill": "T",
      "ProductType": "19",
      "ItemName": "00-CR0010-00",
      "FixedTerm": "0",
      "UploadProductType": "Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "",
      "OldTokenSN": "",
      "ExpirationDate": "",
      "RemainingQuantity": "1",
      "internalid": "8554577"
    },
    {
      "SONumber": "SO66017",
      "SOInternalID": "8552427",
      "TranDate": "11/27/2019",
      "OrgToID": "98401",
      "OrgToName": "City of West Covina",
      "ChannelTypeID": "2",
      "PartnerID": "8600",
      "ITFFInternalID": "8554578",
      "ITFFNumber": "117633",
      "LineID": "8.00",
      "ItemInternalID": "249633",
      "SNPrefix": "RXSJ",
      "AutoFulfill": "T",
      "ProductType": "23",
      "ItemName": "00-400190-00",
      "FixedTerm": "0",
      "UploadProductType": "Assure Renewal",
      "TokenCreateOrgID": "",
      "TokenCreatePart": "",
      "StationSN": "180741002853",
      "OldTokenSN": "",
      "ExpirationDate": "11/16/2020",
      "RemainingQuantity": "1",
      "internalid": "8554578"
    }
  ]
}